@import './custom-theme-styles.scss';

/* regular style toast */
@import  'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #0d490f38;}


.readonly-fields{
    background-color: #90988d3b !important;
}